html {
  font-family: sans-serif;
  }
  
  /* Your CSS below here */
  
.tool {
  padding-top: 100px;
  padding-left: 500px;
 
}
  
 .box {
  width: 200px;
  padding: 100px;;
  height: 3;
  font-size: 1.1rem;
  line-height: 6.8;
  text-align: center;
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-color: red;
  color:white;
  text-shadow: 2px 2px 2px black,
  -2px -2px 2px black;
  border: 1px solid rgb(201, 19, 19);
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6),
               inset -2px -2px 3px rgba(0,0,0,0.6),
               2px 2px 5px black;
               transition: 2s;
  }
  
  
  
  
  